<!DOCTYPE html>
<html tabindex="-1" ng-app="app">
  <head>  
    <title></title>
    <script src="bower_components/japi/mocks/mockJapi.js" type="text/javascript"></script>
    <script src="bower_components/japi/js/japi.js" type="text/javascript"></script>

    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script>
    <script src="bower_components/sopro-material/js/angular-material.js" type="text/javascript"></script>
    <!-- 
    <script src="bower_components/material-titlebar/titlebar.js" type="text/javascript"></script>
    -->

    <!-- Keep app.js at the end -->
    <script src="js/app.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="bower_components/sopro-material/css/angular-material.css">

    <link rel="stylesheet" type="text/css" href="bower_components/roboto/2014/roboto-woff.css">
    <link rel="stylesheet" type="text/css" href="bower_components/sopro-material/css/sopro-material.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/pantheonGroupManager.css">
  </head>
  <body unresolved tabindex="-1" ng-view>
    
  </body>
</html>
              <!-- end material-card for groups -->

              <!-- Quilt View 
              <div ng-show="listView === 'quilt'">
              </div>
              -->



              <!-- Stream View 
              <material-list ng-show="listView === 'stream'">
                <material-item ng-repeat="group in myGroups" ng-click="toggleGroup(group)">
                  <div class="material-tile-left">
                    <img ng-src="material-icons/icons/system_icons/social/res/2x_web/ic_group_48dp.png" class="face">
                  </div>
                  <div class="material-tile-content">
                    <h2>{{group.name}}</h2>
                    {{group.type}}
                    <material-list>
                      <div  ng-show="group.isActive === true" class="animate-show">
                        
                        <material-item ng-repeat="member in group.members">
                          <div class="material-tile-left">
                            <img ng-src="material-icons/icons/system_icons/social/res/2x_web/ic_person_48dp.png" class="face">
                          </div>
                          <div class="material-tile-content">
                            <h2>{{member.name || member.id}}</h2>
                          </div>
                        </material-item>
                      
                      </div>
                    </material-list>
                  </div>
                  
                </material-item>
              </material-list>
              -->
